@font-face {
    font-family: 'Heroes';
    font-style: normal;
    font-weight: normal;
    src: local('Heroes'), url('../fonts/Heroarcherfreeversion-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'HeroKing';
    font-style: normal;
    font-weight: normal;
    src: local('HeroKing'), url('../fonts/heroking.regular.ttf') format('truetype');
}