// Palette de couleurs (3)

// Black/dark
$main-dark: #333;
$main-darker: #1c1c1c;

// White
$main-light: #fff;
$white-medium: #fffff0;
$white-dark: #f2e7bf;

// Grey
$grey-light: #E0E0E0;
$grey-medium: #B0B0B0;
$grey-dark: #4B4B4B;

// Red
$red-light: #FF4C4C;
$red-medium: #D32F2F;
$red-dark: #991928;

// Blue
$blue-light: #81D4FA;
$blue-medium: #2196F3;
$blue-dark: #1565C0;

// Green
$green-light: #66BB6A;
$green-medium: #43A047;
$green-dark: #2E7D32;

// Purple
$purple-light: #b785da;
$purple-medium: #BA68C8;
$purple-dark: #7645c2;


// Rose
$pink-light: #FFCDD2;
$pink-medium: #e4405f;
$pink-dark: #e91e63;

// Yellow
$yellow-light: #FFF9C4;
$yellow-medium: #e5b64a;
$yellow-dark: #FFEB3B;

// Orange
$orange-gold: #F57C00;
$orange-trinidad: #E65100;


